@page "/tasks"

@{
    var breadcrumbItems = new List<BreadcrumbItem> { new BreadcrumbItem { Text = "List", Url = "/tasks" } };
}

<PageTitle>All Tasks</PageTitle>

<PageHeader>
    <h1 style="margin-bottom: .4rem;">Tasks</h1>
    <Breadcrumb Items="breadcrumbItems" />
</PageHeader>

<div id="app-content">
    <PageMenu>
        <LeftMenus>
            <PageMenuItem Text="All Tasks" Url="/tasks" />
            <PageMenuItem Text="My Tasks" Url="/tasks/my-tasks" />
            <PageMenuItem Text="Completed Tasks" Url="/tasks/completed" />
        </LeftMenus>
        <RightMenus>
            <PageMenuItem Text="Create Task" Url="/tasks/new" />
        </RightMenus>
    </PageMenu>
    <PageCard>
        <h1>All Tasks</h1>

        Welcome to your tasks.
    </PageCard>
</div>