<div style="display: flex; flex-direction: column; align-items: flex-start;">
    <label style="margin-bottom: 0.4rem;">@Label</label>
    @ChildContent
</div>

@code {
    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}