@page "/"

@{
    var breadcrumbItems = new List<string> { "Welcome" };
}

<PageTitle>Home</PageTitle>

<Breadcrumb Items="breadcrumbItems" />

<div id="app-content">
    <h1>Hello, world!</h1>

    Welcome to your new app.
</div>