@page "/"

@implements Arya.TaskRoute.WebApplication.Pages.IPage

@{
    var breadcrumbItems = new List<BreadcrumbItem> {
new BreadcrumbItem { Text = "Home", Url = "/" }
};
}

<PageTitle>Home</PageTitle>

<PageHeader>
    <h1 style="margin-bottom: .4rem;">Greeting</h1>
    <Breadcrumb Items="breadcrumbItems" />
</PageHeader>
<div id="app-content">
    <PageMenu>
        <LeftMenus>
            <PageMenuItem Text="Dashboard" Url="/dashboard" />
        </LeftMenus>
    </PageMenu>
    <PageCard>
        Welcome to your new app.
    </PageCard>
</div>

@code {
    public string Title => "Home";
}