@page "/"
@implements Arya.TaskRoute.WebApplication.Pages.IPage

@{
    var breadcrumbItems = new List<BreadcrumbItem> {
new BreadcrumbItem { Text = "Home", Url = "/" }
};
}

<PageTitle>Home</PageTitle>

<PageHeader>
    <h1 style="margin-bottom: .4rem;">Greeting</h1>
    <Breadcrumb Items="breadcrumbItems" />
</PageHeader>
<div id="app-content">
    <PageMenu LeftPageItems="LeftMenus" />
    <div style="background-color: white; border-radius: 5px; margin: 1rem; padding: 1rem;">
        Welcome to your new app.
    </div>
    <div style="background-color: white; border-radius: 5px; margin: 1rem; padding: 1rem;">
        Welcome to your new app.
    </div>
</div>

@code {
    public IEnumerable<PageMenuItem> LeftMenus => new List<PageMenuItem>
{
new PageMenuItem { Text = "Dashboard", Url="/dashboard" }
};

    public string Title => "Home";
}