@using Arya.TaskRoute.WebApplication.Models
@inherits LayoutComponentBase

@inject AppRootModel AppRootModel

<div id="app-header">
    <div id="app-hamburger">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M4 18L20 18" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path>
                <path d="M4 12L20 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path>
                <path d="M4 6L20 6" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path>
            </g>
        </svg>
    </div>
    <div id="app-title">
        Taskroute
    </div>
    <span id="app-sub-title">Welcome to Taskroute application!</span>
    <div id="app-user-section">
        <UserSection />
    </div>
</div>
<div id="app-nav">
    <MainNav Items="AppRootModel.MainNavItems" />
</div>
<div id="app-body">
    @Body
</div>