@inherits LayoutComponentBase

<div id="app-header">
    <header id="title">Taskroute</header>
    <span id="sub-title">Welcome to Taskroute application!</span>
</div>
<div id="app-nav">
    <MainNav />
</div>
<div id="app-body">
    @Body
</div>