@using Arya.TaskRoute.WebApplication.Models
@inherits LayoutComponentBase

@inject AppRootModel AppRootModel

<div id="app-header">
    <header id="title">Taskroute</header>
    <span id="sub-title">Welcome to Taskroute application!</span>
</div>
<div id="app-nav">
    <MainNav Items="AppRootModel.MainNavItems" />
</div>
<div id="app-body">
    @Body
</div>