<div id="app-breadcrumb">
    <ul>
        @foreach (var item in Items)
        {
            <li>
                <NavLink href="@item.Url" style="text-decoration: none; color: inherit;">
                    @item.Text
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    [Parameter]
    public List<BreadcrumbItem> Items { get; set; } = new List<BreadcrumbItem>();
}