#main-nav {
    background-color: #f0f0f0;
    height: 100%;
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#main-nav ul li {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}

#main-nav ul li:hover {
    background-color: #e0e0e0;
}

#main-nav ul li ::deep a {
    text-decoration: none;
    color: #333;
    display: block;
}

#main-nav ul li ::deep a.active {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

#main-nav ul li:has(> a.active) {
    background-color: #d0d0d0;
}

#main-nav ul:last-child > li:first-child {
    border-top: 1px solid #ccc;
}