@using Arya.TaskRoute.WebApplication.Models

<div id="main-nav">
    <nav style="display: flex; flex-direction: column; height: 100%; justify-content: space-between;">
        <ul>
            @foreach (var item in Items.Where(i => !i.OnBottom))
            {
                <li class="@((item.IsActive) ? "active" : "")" style="cursor: pointer;"
                    @onclick="() => OnTapMenuItem(item)">
                    @item.Title
                </li>
            }
        </ul>
        <ul id="bottom-nav">
            @foreach (var item in Items.Where(i => i.OnBottom))
            {
                <li class="@((item.IsActive) ? "active" : "")" style="cursor: pointer;"
                    @onclick="() => OnTapMenuItem(item)">
                    @item.Title
                </li>
            }
        </ul>
    </nav>
</div>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;

    [Parameter]
    public List<AppNavModel> Items { get; set; } = new List<AppNavModel>();

    [Parameter]
    public Action? OnTapMenu { get; set; }

    private void OnTapMenuItem(AppNavModel item)
    {
        foreach (var navItem in Items)
        {
            navItem.IsActive = false;
        }

        item.IsActive = true;
        NavigationManager.NavigateTo(item.Url);
        OnTapMenu?.Invoke();
    }
}