<div id="main-nav">
    <nav>
        <ul>
            <li>
                <NavLink href="/" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li>
                <NavLink href="/tasks" Match="NavLinkMatch.Prefix">
                    Tasks
                </NavLink>
            </li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</div>