<div style="display: flex; justify-content: space-between; padding: 1rem 2rem; background-color: white;">
    <div style="display: flex; gap: 1rem; align-items: center;">
        @LeftMenus
    </div>
    <div style="display: flex; gap: 1rem; align-items: center;">
        @RightMenus
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? LeftMenus { get; set; }

    [Parameter]
    public RenderFragment? RightMenus { get; set; }
}