.page-card {
    flex-grow: 1; 
    background-color: white; 
    border-radius: 5px; 
    margin: 1rem; 
    padding: 1.5rem 2rem;
}

@media screen and (min-width: 1080px) {
    .page-card {        
        width: 400px;
    }
}