<div
    style="background-color: ghostwhite; padding: 1rem 2rem; display: flex; flex-direction: column; justify-content: center; border-bottom: 1px solid lightgray;">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}